html {
  body {
    & .defualt-btn {
      background: @brand-color30;
      color: @brand-color1;
      border-color: @brand-color30;
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
    & .defualt-btn.k-button.k-grid-cancel {
      line-height: 20px;
    }
    & button.primery-btn {
      background: @brand-color29;
      color: @brand-color31;
      border-color: @brand-color29;
      &:hover {
        background: @brand-color39;
        border-color: @brand-color39;
        color: @brand-color1;
      }
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
    color: @brand-color28;
    & #wrapper {
      & header {
        background: @brand-color1;
        & .company-panel {
          & a {
            color: lighten(@brand-color1, 100%);
          }
        }
        & .logo-panel {
          & .logo-slogan {
            color: @brand-color28;
            top: 8px;
          }
        }
        & .header-user-panel {
          & .header-navbar {
            & li {
              & .search-box {
                /*& input.input-box {
                  background: lighten(@brand-color1, 30%) ;
                }*/
              }
            }
          }
        }
      }
    }
    & .k-block,
    & .k-widget {
      background-color: @brand-theme1;
    }
    & .MessageBoxContainer {
      z-index:99999 !important;
      & .MessageBoxButtonSection {
        background: rgba(0, 0, 0, 0.4);
      }
      & .MessageBoxMiddle {
        background: rgba(255, 255, 255, 0.2);
        & .MsgTitle {
          color: lighten(@brand-color1, 100%);
        }
      }
    }
    .k-grid table thead tr th {
      background: @brand-theme1;
    }
    .datatable-grid-panel {
      & .widget-main-box {
        & .widget-header-box {
          & .widget-header-title {
            color: lighten(@brand-color1, 100%);
          }
        }
      }
    }
    &.stickyScrollDown {
      & .title-panel {
        background: @brand-theme1;
      }
    }
    & #wrapper {
      & footer {
        border-color: lighten(@brand-color1, 40%);
        & .copyrightLeft {
          color: @brand-color28;
          & b {
            color: @brand-color28;
          }
        }
        & .copyrightRight {
          color: @brand-color28;
          & b {
            color: @brand-color28;
          }
        }
      }
      & .title-panel {
        & .title-inner-box {
          color: lighten(@brand-color1, 100%);
        }
      }
      & #container-panel {
        & .h6Title {
          color: lighten(@brand-color1, 100%);
        }
        & .search-left-panel {
          & .search-box {
            & .input-box {
              background: @brand-theme1;
              color: @brand-color1;
              border:solid 1px @brand-color33;
              padding: 3px 7px 3px 30px;
              &:focus {
                border:solid 1px @brand-color33;
              }
            }
          }
          & .serach-btn-box {
            & .search-btn {
              background: @brand-color30;
              & i {
                color: lighten(@brand-color1, 100%);
              }
              &:hover {
                background: @brand-color29;
                & i {
                  color: lighten(@brand-color1, 100%);
                }
              }
            }
          }
        }
        & .left-panel {
          & .leftArrow {
            background:none;
            border:solid 1px @brand-color30;
            &:hover {
              background: @brand-color31;
              & i {
                color: lighten(@brand-color1, 100%);
              }
            }
            &.open {
              background: @brand-theme1;
              border: 0;
              &:hover {
                background: @brand-color31;
              }
            }
          }
          & .left-inner-box {
            background: @brand-theme1;
            border-color: @brand-theme1;
          }
        }
        & .right-panel {
          & .rightArrow{
            background:none;
            border:solid 1px @brand-color30;
            &:hover {
              background: @brand-color31;
              & i {
                color: lighten(@brand-color1, 100%);
              }
            }
            &.open {
              background: @brand-theme1;
              border: 0;
              &:hover {
                background: @brand-color31;
              }
            }
          }
          & .right-inner-box {
            background: @brand-theme1;
            border-color: @brand-theme1;
          }
        }
      }
    }
    & .menu-left-setting {
      & ul {
        & li {
          & a {
            color: lighten(@brand-color1, 100%);
          }
          &.active,
          &:hover{
            & a {
              color: lighten(@brand-color1, 100%);
            }
          }
        }
      }
    }
    & .ip-events-top-panel {
      & ul {
        & li {
          border-color: @brand-color28;
          & .notitication-title {
            & .title-left-box {
              color: lighten(@brand-color1, 100%);
            }
          }
          & .notitication-content {
            color: lighten(@brand-color1, 50%);
          }
        }
      }
    }
    & .nav-panel {
      &  ul {
        & li {
          border-color: @brand-color30;
          & span.k-in {
            color: lighten(@brand-color1, 100%);
            & .action {
              span.fa.fa-ellipsis-h {
                color: @brand-color29;
              }
            }
          }
          & span.k-icon {
            color: lighten(@brand-color1, 100%);
          }
          &:hover {
            background: @brand-color31;
          }
          & > ul {
            & li {
              background: @brand-theme1;
              & > div {
                & .k-state-selected {
                  & a {
                    color: @brand-color29;
                  }
                  & a.fa:before {
                    color: @brand-color29 !important;
                  }
                }
                & .k-in {
                  & a {
                    & i {
                      color: @brand-color29;
                    }
                  }
                  & span.tree-name {
                    color: @brand-color32;
                  }
                  & .tree-edit {
                    & i {
                      color: @brand-color32 !important;
                      &:hover {
                        color: @brand-color29 !important;
                      }
                    }
                  }
                  & .tree-delete {
                    &:before {
                      color: @brand-color32 !important;
                    }
                    &:hover {
                      &:before {
                        color: @brand-color29 !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    & .slim-chart-main {
      & .slim-chart-inner {
        background: @brand-color31;
      }
    }
    & .action-widget-panel {
      & li {
        & .k-widget {
          & .k-input {
            color: lighten(@brand-color1, 100%);
            top: 1px !important;
          }
          & .k-select {
            color: lighten(@brand-color1, 100%);
            & .k-icon {
              top: 1px !important;
            }
          }
        }
        & button {
          color: lighten(@brand-color1, 100%);
          &:hover {
            color: @brand-color29;
            & i {
              color: @brand-color29;
            }
          }
          & i {
            color: lighten(@brand-color1, 100%);
          }
        }
      }
    }
    & .k-button-icontext {
      background: @brand-color30;
      border-color: @brand-color30;
      color: @brand-color1;
    }
    & .k-primary {
      background: @brand-color29;
      border-color: @brand-color29;
      color: @brand-color35;
      &:hover {
        background: @brand-color39;
        border-color: @brand-color39;
        color: @brand-color1;
      }
    }
    & .primery-btn {
      background: @brand-color1;
      border-color: @brand-color9;
      color: @brand-color9;
    }
    & .k-grid-add {
      background: @brand-color29;
      border-color: @brand-color29;
      color: @brand-color35;
      &:hover {
        background: @brand-color39;
        border-color: @brand-color39;
        color: @brand-color1;
      }
    }

    & .dashboard-widget-panel {
      & > ul {
        & > li {
          border-color:  @brand-theme1;
          background: @brand-theme1;
          & .widget-title {
            color: lighten(@brand-color1, 100%);
          }
          & ol {
            & > li {
              & .sub-widget-content {
                color: @brand-color27;
              }
            }
          }
        }
      }
    }
    & .datatable-grid-panel {
      & .widget-main-box {
        border-color:  @brand-theme1;
        background: @brand-theme1;
        & .widget-header-box {
          /* border-bottom: solid 1px lighten(@brand-color1, 50%);*/
        }
      }
    }
    & .k-grid {
      border: none;
      & .k-grid-header-wrap {
        background: @brand-theme1;
        & table {
          border-top:solid 1px @brand-color28;
        }
      }
      & table {
        & thead {
          & tr {
            & th {
              color: lighten(@brand-color1, 100%);
              border-color: @brand-color28;
             /* border-bottom: none !important;*/
              border-top:solid 1px;
              & a {
                color: lighten(@brand-color1, 100%);
              }
            }
           /* & th:nth-child(2) {
              border-left: none !important;

            }*/
            & th:last-child {
              border-right: none !important;

            }
          }
        }
        & tbody {
          & tr {
            & td {
              color: lighten(@brand-color1, 100%);
              border-color: @brand-color28;
              & a {
                color: @brand-color29;
                &:hover {
                  color: lighten(@brand-color1, 100%);
                }
              }
              & span.fa {
                color: @brand-color1 !important;
                &:hover {
                  color: @brand-color29 !important;
                }
              }
            }
          }
        }
      }
      & .k-pager-wrap {
        & .k-pager-numbers {
          & li {
            & a {
              color: @brand-color1;
              border-color: @brand-color28;
              background: none;
              &:hover {
                background: @brand-color29;
                border-color: @brand-color29;
                color: @brand-color1;

              }
            }
          }
        }
        & a.k-pager-nav {
          background: @brand-theme1;
          border-color: @brand-color28;
          &:hover {
            background: @brand-color28;
            border-color: @brand-color28;
            & span.k-icon {
              color: lighten(@brand-color1, 100%);
            }
          }
        }
        & .k-pager-numbers {
          & li {
            & span.k-state-selected {
              background: @brand-color28;
              border-color: @brand-color28;
              color: @brand-color1;
            }
          }
        }
      }
    }
    & form label {
      color: @brand-color36;
    }
    #subnetSummary {
      & label {
        color: @brand-color1;
        opacity: 0.5;
      }
      & p {
        color: @brand-color1;
      }
    }
    #dhcpStatistics {
      & label {
        color: @brand-color1;
        opacity: 0.5;
      }
      & p {
        color: @brand-color1;
      }
    }
    #subnetIPSummary {
      & label {
        color: @brand-color1;
        opacity: 0.5;
      }
      & p {
        color: @brand-color1;
      }
    }
    & .label-2 {
      color: lighten(@brand-color1, 80%);
    }
    & input[type=checkbox]:not(old),
    & input[type=radio]:not(old) {
      cursor: pointer;
    }
    & .k-header,
    & .k-treemap-title,
    & .k-grid-header .k-header > .k-link {
      color: lighten(@brand-color1, 80%);
    }
    & .k-i-arrow-end-left:before,
    & .k-grid .k-pager-info {
      color: lighten(@brand-color1, 80%);
    }
    & .k-pager-wrap > .k-link > .k-icon {
      color: lighten(@brand-color1, 80%);
    }
    & .k-grid .k-pager-sizes {
      color: lighten(@brand-color1, 80%);
    }
    & .k-widget.k-window {
      border:none;
      & .k-window-actions {
        & .k-button {
          & .k-icon {
            color: lighten(@brand-color1, 100%) !important;
          }
        }
      }
      & .fixed-height-body-popup-panel {
        color: @brand-color1;
      }
      & .k-header {
        background: @brand-color34;
        border-width: 1px;
        border-color:  @brand-color34;
        & .k-window-title {
          color: lighten(@brand-color1, 100%);
        }
      }
      & .k-content {
        & input[type=radio]:not(old) + label {
          color: lighten(@brand-color1, 100%);
        }
      }
      & .footer-box-grid-box {
        background: @brand-color34;
      }
      & .footer-box-grid-boxs {
        background: @brand-color34;
      }
    }
    .k-content, .k-panelbar > li.k-item, .k-panel > li.k-item, .k-tiles {
      background: @brand-theme1;
    }
    & .date-select-drop-menu{
      & .k-state-default {
        & .k-icon {
          color: @brand-color1 !important;
        }
        & .k-input {
          color: @brand-color1;
        }
      }
    }
    & .select-drop-menu {
      & .k-dropdown {
        & .k-state-default {
          /*background: none !important;
          border:solid 1px @brand-color1 !important;*/
          & .k-input {
            color: lighten(@brand-color1, 100%);
            top: 1px;
            position: relative;
            border-radius: 3px;
          }

          & .k-select {
            color: lighten(@brand-color1, 100%);

            & .k-icon {
              top: 3px;
              position: relative;

            }
          }
        }
      }
      .k-widget.k-dropdown.k-header .k-dropdown-wrap.k-state-default .k-i-arrow-60-down {
        top: 4px;
      }
    }
    & .auto-select-sm-panel {
      & #addRecepientEmail {
        background: @brand-color29;
        &:hover {
          background: @brand-color39;
          border-color: @brand-color39;
          color: @brand-color1;
        }
      }
      & .k-multiselect {
        &:hover {
          background: none !important;
        }
        & .k-multiselect-wrap {
          background: none;
          min-height: 32px !important;

          &:hover {
            background: none !important;
          }
          & .k-input {
            color: lighten(@brand-color1, 100%);
            top: 3px;
            position: relative;
          }
          & .k-select {
            color: lighten(@brand-color1, 100%);
            & .k-icon {
              top: 3px;
              position: relative;
              color: @brand-color1;
            }
          }
          &.k-floatwrap {
            & ul {
              & li {
                background: @brand-color35 !important;
                color: @brand-color1 !important;
              }
            }
          }
        }
      }
    }
    & .k-input,
    & input.k-textbox,
    & textarea.k-textbox,
    & input.k-textbox:hover,
    & textarea.k-textbox:hover,
    & .k-textbox > input,
    & .k-multiselect-wrap {
      background: none !important;
      border:solid 1px @brand-color1 !important;
      color: @brand-color1;
    }
    & svg {
      & > g {
        & > path {
          background: red !important;
          fill:@brand-theme1 !important;
        }
        & g {
          & text {
            fill:rgb(255,255,255) !important;
          }
        }
      }
    }
    & .k-tooltip,
    & .k-chart-tooltip {
      fill:rgb(255,255,255) !important;
      color: lighten(@brand-color1, 100%);
    }
    .breadcrumb-panel {
      & ul {
        & li {
          color: @brand-color37;
          & a {
            color: @brand-color29;
            &:hover {
              color: lighten(@brand-color1, 100%);
            }
          }
        }
      }
    }
  }
  .k-grid .k-pager-sizes .k-widget .k-dropdown-wrap {
    & .k-select {
      color: @brand-color34;
    }
    & .k-input {
      border: 0 !important;
    }
    &.k-state-hover {
      background: @brand-color29;
      & .k-icon {
        color: @brand-color1;
      }
    }
    &.k-state-focus {
      background: @brand-color29;
      & .k-icon {
        color: @brand-color1;
      }
    }
  }
  & .no-data-available {
    color: @brand-color1;
  }
  .k-calendar .k-content .k-link {
    color: @brand-color1;
  }
  & .small-title-h {
    color: @brand-color1;
  }
  & .k-widget.k-notification.k-notification-info {
    background-color: @brand-color38;
  }
  & .k-widget.k-notification.k-notification-error {
    background-color: @brand-color16;
  }
  & .k-widget.k-notification.k-notification-success {
    background-color: @brand-color15;
  }
  & .k-widget.k-tooltip-validation {
    background: @brand-color13 !important;
    border-color: @brand-color13 !important;
    color: @brand-color1;
  }
  .k-calendar .k-today {
    box-shadow: none !important;
    border-radius: 0;
    background: none;
    border:solid 1px @brand-color27;
  }
  .k-state-focused.k-state-selected,
  .k-list > .k-state-focused.k-state-selected,
  .k-listview > .k-state-focused.k-state-selected,
  td.k-state-focused.k-state-selected {
    box-shadow: none !important;
    border-radius: 0;
    background: @brand-color26;
    border:solid 1px @brand-color1;
  }
  #reportTreeView ul li > ul li > div .k-in.k-state-selected,
  #reportTreeView ul li > ul li > div .k-in:hover,
  #reportTreeView ul li > ul li > div .k-in:focus,
  #reportTreeView ul li div .k-in:focus,
  #reportTreeView ul li > ul li > div .k-in.k-state-focused {
    background: none !important;
    border: 0 !important;
    outline: 0 !important;
  }
  .nav-panel ul li span.k-in.k-state-focused {
    border: 0 !important;
  }
}
html {
  & body {
    & .MessageBoxContainer {
      & .MessageBoxMiddle {
        background: rgba(0, 0, 0, 0.6);
        & .MsgTitle {
          z-index: 99;
        }
      }
    }
    & .footer-box-grid-panel {
      background: @brand-color34;
    }
  }
  & .widget-header-action {
    & i.icon-options-vertical {
      color: @brand-color1;
    }
  }
  & .schedule-reports-top-panel {
    & div {
      & p {
        color: @brand-color1;
      }
    }
  }
  & .k-drag-clue {
    background: @brand-theme1 !important;
  }
  & .upload-input-file {
    color: @brand-color1;
  }
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #ffffff7a !important;
}