#wrapper {
  .width100;
  position: relative;
  height: 100%;
  & header {
    .width100;
    background: @headerBg;
    height: @heaerHeight;
    position: @headerPosition;
    box-shadow:0 -3px 9px 0 #000;
    z-index:2;
    & .company-panel {
      width:30%;
      float:left;            
      & a {
        background-image: linear-gradient(90deg, #2BA1C0 0%, #13688C 100%);
        color:@companyColor;
        padding: @companyPadding;
        height: @heaerHeight;
        line-height: @heaerHeight;
        float:left;
        font-size:@companyFontSize;
        &:hover {
          text-decoration:none;
          background: darken(@companyHeaderBg, 5%);
        }
      }
    }
    & .logo-panel {
      width:300px;
      float:left;
      text-align:center;
      left: 50%;
      transform: translate(-50%, 0);
      position: absolute;
      & a {
        display:inline-block;
        margin-top:2px;
        padding:0 10px 0 0;
        position:relative;
        line-height: 32px;
        &:after {
          position:absolute;
          content:"";
          width:1px;
          height:25px;
          top:5px;
          right:0;
          background:#000;
        }
        & img {
          max-height:@headerLogoHeight;
          max-width: 115px;
        }
      }
      & .logo-slogan {
        font-size:@LogoSloganFontSize;
        position:relative;
        top:5px;
        left:5px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
        display: inline-block;
        white-space: nowrap;
      }
    }
    & .header-traceOrgUser-panel {
      width:auto;
      float:right;
    }
    & .header-navbar {
      width:auto;
      float:right;
      margin:0;
      & li {
        float:left;
        & a {
          float: left;
          padding: @headerIconSpacing;
          line-height: @headerIconLineHeight;
          height: @heaerHeight;
          box-shadow: none;
          & i {
            font-size:@headerIocnSize;
            color:@headerIocnColor;
          }
          &:hover {
            text-decoration:none;
            background:#13688c;
            & i {
              color:#fff;
            }
          }
          &:focus {
            text-decoration: none;
          }
        }
        & a.brand {
          line-height: 40px;
          padding: 0 15px 0 15px;
          & img {
            height: 22px;
          }
        }
        &.active {
          & a {
            text-decoration:none;
            background:#13688c;
            & i {
              color:#fff;
            }
          }
        }
      }
      & .search-box {
        width: 100%;
        float: left;
        position: relative;
        top: 6px;
        right: 10px;
        & .input-box {
          .width100;
          background: @inputBgColor;
          font-size: @inputFontSize;
          font-weight: @inputFontWeight;
          color: @inputFontColor;
          padding: @inputPaddingRevers;
          border-radius: @inputRedius;
          border: none;
          &:focus {
            border: none;
            outline: none;
          }
        }
        & input::-webkit-input-placeholder {
          color: @headerIocnColor !important;
        }

        & input:-moz-placeholder { /* Firefox 18- */
          color: @headerIocnColor !important;
        }
        & input::-moz-placeholder {  /* Firefox 19+ */
          color: @headerIocnColor !important;
        }
        & input:-ms-input-placeholder {
          color: @headerIocnColor !important;
        }
        & i {
          position: absolute;
          right: 8px;
          top: 10px;
          color: @headerIocnColor;
        }
      }
      & a.logout {
        float: left;
        padding: @headerIconSpacing;
        line-height: @headerIconLineHeight;
        height: @heaerHeight;
        box-shadow: none;
        & i {
          font-size:@headerIocnSize;
          color:@headerIocnColor;
        }
        &:hover {
          text-decoration:none;
          background:#13688c;
          & i {
            color:#fff;
          }
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
  & .title-panel {
    .width100;
    padding: @titlePadding;
    height: @titleHeight;
    margin-top: @heaerHeight;
    background: @brand-theme;
    position: fixed;
    z-index: 1;
    & .title-inner-box {
      width: auto;
      float: left;
      font-size: @titleFontSize;
      font-weight:@titleFontWeight ;
      color:@titleFontColor ;
      position: relative;
      z-index: 1;
    }
    & .corner-content {
      float: right;
      text-align: right;
      position: relative;
      z-index:1
    }
  }
  & #container-panel {
    .width100;
    /*height:100%;*/
    margin-top: @contentHeaderSpacer;
    /*padding-top: @stickyPadding;*/
    & .title-part-panel {.width100;
      padding: @boxLeftRightPadding;
      & i {
        float: left;
        line-height: 19px;
        margin-right: 7px;
      }
    }
    & .h6Title {
      font-size:@titleH6FontSize;
      font-weight:@titleH6FontWeight;
      color:@titleH6FontColor;
      line-height: @titleH6LineHeight;
    }
    & .search-left-panel {
      .width100;
      padding: @boxLeftRightPadding;
      & .search-box {
          width: 84%;
          float: left;
          position: relative;
        & .input-box {
          .width100;
          background: @inputBgColor;
          font-size: @inputFontSize;
          font-weight: @inputFontWeight;
          color: @inputFontColor;
          padding: @inputPadding;
          border-radius: @inputRedius;
          border: none;
          &:focus {
            border: none;
            outline: none;
          }
        }
        & input::-webkit-input-placeholder {
          color: @headerIocnColor !important;
        }

        & input:-moz-placeholder { /* Firefox 18- */
          color: @headerIocnColor !important;
        }
        & input::-moz-placeholder {  /* Firefox 19+ */
          color: @headerIocnColor !important;
        }
        & input:-ms-input-placeholder {
          color: @headerIocnColor !important;
        }
        & i {
          position: absolute;
          left: 8px;
          top: 8px;
          color: @headerIocnColor;
        }
      }
      & .serach-btn-box {
        width: auto;
        float: right;
      }
      & .searchBtn {
        background: @buttonBgColor;
        font-size: @buttonFontSize;
        font-weight: @buttonFontWeight;
        color: @buttonFontColor;
      }
    }
    & .search-btn {
      background: @buttonBgColor;
      font-size: @buttonFontSize;
      font-weight: @buttonFontWeight;
      color: @buttonFontColor;
      border: none;
      padding: @buttonPadding;
      border-radius: @inputRedius;
      &:focus {
        border: none;
        outline: none;
      }
      & i {
        font-size: 12px;
        color: @buttonPrimeryColor;
      }
      &:hover {
        background: @buttonDefualtBgColorHover;
        color: @buttonDefualtBgColorWhite;
        & i {
          color: @buttonDefualtBgColorWhite;
        }
      }
    }
    & .menu-left-panel {
      .width100;
      border-radius: @inputRedius;
      max-height: 60%;
      overflow: auto;
    }
    & .filter-area-box {
      .width100;
      padding: @boxLeftRightPadding;
      & .filter-title {
        float: left;
        font-size: @contentTitleCommon;
        margin-right: 5px;
        line-height: 24px;
      }
      & .select {
        float: left;
        position: relative;
        & select {
          color: @buttonPrimeryColor;
          background: @buttonBgColor;
          border: none;
          -webkit-appearance: none;
          appearance: none;
          font-size: @contentTitleCommon;
          padding: 4px 18px 4px 9px;
          border-radius: @inputRedius;
          &:focus {
            border: none;
            outline: none;
          }
        }
        & i {
          position: absolute;
          top: 7px;
          right: 5px;
          font-size: @contentTitleCommon;
          font-weight: 400;
          color: @buttonPrimeryColor;
        }
      }
      & .button {
        float: left;
      }
    }
    & .left-panel {
      width:25px;
      float:left;
      padding:0;
      position:fixed;
      left: @leftArrowLeftPosi;
      transition: all .1s linear;
      height:100%;
      /*top: 140px;*/
      padding-right: 0;
      z-index: 1;
      & .leftArrow {
        position: absolute;
        right: @leftArrowLeftPosi;
        top: @leftArrowTopPosi;
        width:@leftArrowWidth;
        height: @leftArrowHeight;
        float: left;
        line-height: @leftArrowLineHeight;
        background: @leftArrowBgColor;
        text-align: center;
        border-radius: @leftArrowBorderRedius;
        transition:none;
        outline-offset:0;
        box-shadow: none;
        outline: none;
        &:hover {
          text-decoration:none;
          background:@buttonDefualtBgColorHover;
        }
        &.open:hover {
          background: @buttonPrimeryColor;
          & i {
            color: @brand-color1;
          }
        }
        &:focus {
          text-decoration:none;
        }
        & i {
          color:@leftArrowFontColor;
          font-weight:@leftArrowFontWeight;
          font-size: @leftArrowFontSize;
        }
        & i.fa-times {
          display: none;
        }
        & i.fa-arrow-left {
          display: none;
        }
        &.open {
          background: @brand-color22;
          right:-19px;
          top: 0px;
          height: 23px;
          width: 20px;
          line-height: 23px;
          border-radius: 0px 15px 15px 0px;
          & i {
            color: #8D949F;
            font-weight: 300;
            font-size: 12px;
            margin-top: 5px;
            position: relative;
            right: 2px;
          }
          & i.icon-globe {
            display: none;
          }
          & i.fa-arrow-left {
            display: block;
          }
        }
      }
      .left-inner-box {
        width: 0;
        background: #fff;
        height: 100%;
        float: left;
       /* border-radius: 0 10px 0 0;*/
       /* box-shadow: @BoxShadow @borderCommonColor;*/
        border: solid 1px @borderCommonColor;
        border-left: none;
        border-bottom: none;
        overflow: hidden;
      }
    }
    & .content-panel {
      width:96%;
      float:left;
      /*padding:0px 15px;*/
      height:100%;
      margin-left: 2%;
      /*padding-bottom: 20px;*/
      & .container-fluid {
        /*background: #fff;*/
        width: 100%;
        float: left;
        padding: 0 0 30px 0;
      }
     /* & div {
        background:#fff;
        padding:20px;
        float:left;
        width:100%;
        overflow:hidden;
        !*height:100%;*!
      }*/
    }

    & .right-panel {
      width:25px;
      float:right;
      padding:0;
      position:fixed;
      right: @rightArrowLeftPosi;
      height:80%;
      /*top: 140px;*/
      transition: all .1s linear;
      padding-left: 25px;
      z-index: 1;
      & .rightArrow {
        position: absolute;
        left: @rightArrowLeftPosi;
        top: @rightArrowTopPosi;
        width:@rightArrowWidth;
        height: @rightArrowHeight;
        float: left;
        line-height: @rightArrowLineHeight;
        background: @rightArrowBgColor;
        text-align: center;
        border-radius: @rightArrowBorderRedius;
        transition:none;
        z-index:1;
        &:hover {
          text-decoration:none;
          background:darken(#d5dde6, 5%);
        }
        &.open:hover {
          background: @buttonPrimeryColor;
          & i {
            color: @brand-color1;
          }
        }
        &:focus {
          text-decoration:none;
        }
        & i {
          color:@rightArrowFontColor;
          font-weight:@rightArrowFontWeight;
        }
        & i.fa-arrow-right {
          display: none;
        }
        &.open {
          background: @brand-color22;
          right:0;
          left: 5px;
          top: 0px;
          height: 23px;
          width: 20px;
          line-height: 23px;
          border-radius: 15px 0px 0px 15px;
          & i {
            color: #8D949F;
            font-weight: 300;
            font-size: 12px;
            margin-top: 5px;
            position: relative;
            left: 2px;
          }
          & i.icon-exclamation {
            display: none;
          }
          & i.fa-arrow-right {
            display: block;
          }
        }
      }
    }
    & .right-inner-box {
      width: 0;
      float: left;
      background: #fff;
      height: 100%;
     /* border-radius: 10px 0 0 0;
      box-shadow: 0 0 9px 0 @borderCommonColor;*/
      border: solid 1px @borderCommonColor;
      border-right: none;
      border-bottom: none;
      padding-bottom: 70px;
      position: relative;
      & .read-more-right-panel {
        position: fixed;
        bottom: 50px;
        right: 20px;
        z-index: 1;
        display: none;
       & a {
         border: solid 1px @brand-color9;
         border-radius: 150px;
         padding: 8px 20px;
         color: @brand-color9;
         &:hover {
           background: @brand-color5;
           color: @brand-color1;
           border-color: @brand-color5;
         }
       }
      }
    }
    & .stickyStickyLeft {
      position: fixed;
      top: 50px;
      left: -25px;
      transition: all .1s linear;
      & .menu-left-panel {
        max-height: 75%;
      }
    }
    & .stickyStickyRight {
      position: fixed;
      top: 50px;
      right: -25px;
      transition: all .1s linear;
      & .ip-events-top-panel {
        max-height: 92%;
      }
    }
  }
  & #container-panel.leftOpenPanel {
    @import "mixins/leftOpen.less";
  }
  & #container-panel.rightOpenPanel {
    @import "mixins/rightOpen.less";
  }
  & #container-panel.contentOpenPanel {
    @import "mixins/contentOpen.less";
  }
  & footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 6px 20px;
    background: @brand-color1;
    border-top:solid 1px @brand-color6 ;
    z-index: 1;
    /*position: relative;*/
    /*display:none;*/
    & .copyrightLeft {
      float: left;
      font-size: @fontSize12;
    }
    & .copyrightRight {
      float: right;
      font-size: @fontSize12;
      & a {
        color: @brand-color9;
        &:hover {
          color: @brand-color5;
        }
      }
    }
  }  
}
body {
  & .content-section-panel {
    .width100;
    .padding-l-20;
    .padding-r-20;
  }
  & .common-box-panel {
    .width100;
  }
}
body.stickyScrollDown {
  & #container-panel {
      margin-top:150px;
     transition: all .5s linear;
  }
  & .stickyScrollHeader {
    position: fixed;
    transition: all .5s linear;
    top: 0;
    box-shadow:0 -3px 6px 0 #000000;
    padding: 15px 55px !important;
    height: 60px !important;
  }
  & .stickyStickyLeft {
     top: 150px !important;
    transition: all .5s linear;
  }
  & .stickyStickyRight {
     top: 150px !important;
    transition: all .5s linear;
  }
}
body.stickyScrollUp {
  & .stickyScrollHeader {
    transition: all .5s linear;
    position: fixed;
    top: -150px;
  }
  & .stickyStickyLeft {
    transition: all .5s linear;
    height: 92% !important;
  }
  & .stickyStickyRight {
    transition: all .5s linear;
    height: 93% !important;
  }
  & .nav-panel {
    max-height: 84%;
  }
}
body {
  & .hyperClick {
    float: left;
    margin-top: 10px;
  }
}
/*
div, a {
  transition: all .5s linear;
}*/


