.breadcrumb-panel {
  float: left;
  margin: 8px 0 0 20px;
  position: relative;
  z-index: 1;
  & ul {
    .width100;
    list-style: none;
    & li {
      float: left;
      font-size: @fontSize14;
      margin-right: 10px;
      color: @brand-color5;
      & a {
        color: @brand-color14;
        position: relative;
        padding-right: 15px;
        &:after {
          content: "\f0da";
          position: absolute;
          right: -2px;
          top: -7px;
          font-family: "FontAwesome";
          color: @brand-color20;
          font-size: @fontSize19;
        }
        &:hover {
          color: @brand-color5;
        }
      }
    }
  }
}