body {
  & .no-data-available {
    width: 100%;
    text-align: center;
    .padding-t-10;
    .padding-b-10;
    font-size: @fontSize12;
  }
  & .fixHeight5 {
    border: 0;
    & .no-data-available {
      height: 160px;
      line-height: 140px;
    }
  }
  & .fixHeight310 {
    border: 0;
    .no-data-available {
      height: 287px;
      line-height: 274px;
    }
  }
  & .fixHeight700 {
    border: 0;
    & > .k-auto-scrollable {
      height: 640px;
      overflow: hidden;
    }
    .no-data-available {
      height: 632px !important;
      line-height: 600px !important;
    }
  }
  & .fixHeight700.custom-scroll.mCustomScrollbar {
    height: 705px !important;
  }
  & .line-separator {
    .width100;
    border-bottom: solid 1px @brand-color12;
    height: 1px;
    margin: 10px 0;
  }
  & .small-title-h {
    font-size: @fontSize14;
    font-weight: 600;
    color: @brand-color5;
  }
  & .float-l {
    float: left !important;
  }
  & .float-r {
    float: right !important;
  }
}
body.hideHeaderPanel {
  & #header_panel {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 35px;
    display: none;
    & .discoveryPositionSection {
      margin-top: 5px;
    }
  }
  & #container-panel {
    margin-top: 50px !important;
  }
  .k-tooltip {
    background: #ffedb7; //specify tooltip's color
    min-width: 70px;
    &:after {
      background: #ffedb7 !important;
    }
    &:before {
      background: #ffedb7 !important;
    }
  }
}
& #subnetSummaryGraph {
  margin-top: -70px;
}
html body .defualt-btn.k-button.k-grid-cancel {
  line-height: 20px;
}
body {
  & .upload-input-file {
    color: @brand-color1;
  }
  & .k-drag-clue {
    /*background: @brand-theme1 !important;*/
    padding: 5px 8px;
    & i.fa-edit {
      display: none;
    }
    & span.tree-delete {
      display: none;
    }
  }
  & .upload-input-file {
    color: @brand-color5;
  }
  & .k-pdf-export {
    font-family: Arial, Helvetica, sans-serif;
     .k-grid table tbody tr td {
       padding-left: 20px;
       font-family: Arial, Helvetica, sans-serif;
       & .ipam {
         position: relative;
         left: -20px;
       }
       & .fa {
         position: relative;
         left: -20px;
       }
     }
    & .datatable-grid-panel .widget-main-box .widget-header-box .widget-header-title {
      padding-left: 0px;
      font-family: Arial, Helvetica, sans-serif;
      & .ipam {
        position: relative;
        left: -10px;
      }
      & .fa {
        position: relative;
        left: -10px;
      }
    }
  }
}
@media all and (-ms-high-contrast: none), (-m-high-contrast: active) {
  html .k-animation-container .k-notification .k-notification-wrap {
    white-space: pre-line;
  }
  html {
    & body {
      font-family: Arial, Helvetica, sans-serif;
      .errorMessageShow {
        width: 100%;
        float: left;
        & .msg.success-msg {
          background: #e0f1e7;
        }
      }
    }
  }
}

.widthFullSpacer,
.widthFullSpacer > div > div {
  width: 100% !important;
}
.widthFullSpacer .mCSB_scrollTools_horizontal {
  display: none !important;
}
.widthFullSpacer input[type="checkbox"]:not(old) + label {
  margin-left: -33px;
}