.ip-events-top-panel {
  .width100;
  max-height: 87%;
  /*overflow: auto;*/
  & ul {
    .width100;
    margin-top: 5px;
    & li {
      .width100;
      border-top: solid 1px @borderCommonColor;
      padding: @notificationPadding;
      & .notitication-title {
        .width100;
        & .title-left-box {
          width: 60%;
          float: left;
          font-size: @notificationTitleSize;
          color: @brand-color10;
          font-weight: normal;
          & i {
            font-size: @notificationFontSize;
            margin-right: 7px;
            float: left;
            line-height: 17px;
          }
        }
        & .title-date-time {
          width: 40%;
          float: right;
          font-size: @notificationTitleSize;
          color: @brand-color14;
          font-weight: normal;
          text-align: right;
        }
      }
      & .notitication-content {
        .width100;
        padding: 10px 0 10px 20px;
        font-size: @notificationContentSize;
        color: @brand-color10;
        font-weight: normal;
      }
    }
    & li:last-child {
      border-bottom: solid 1px @borderCommonColor;
    }
  }
}
.schedule-reports-top-panel {
  .width100;
  max-height: 93%;
  overflow: auto;
  min-height: 30px;
  & ul {
    .width100;
    margin-top: 5px;
    & li {
      .width100;
      border-top: solid 1px @borderCommonColor;
      padding: @notificationPadding;
      & .notitication-title {
        .width100;
        & .title-left-box {
          width: 50%;
          float: left;
          font-size: @notificationTitleSize;
          color: @brand-color10;
          font-weight: normal;
          & i {
            font-size: @notificationFontSize;
            margin-right: 7px;
            float: left;
            line-height: 17px;
          }
        }
        & .title-date-time {
          width: 50%;
          float: right;
          font-size: @notificationTitleSize;
          color: @brand-color14;
          font-weight: normal;
          text-align: right;
        }
      }
      & .notitication-content {
        .width100;
        padding: 10px 0 10px 20px;
        font-size: @notificationContentSize;
        color: @brand-color10;
        font-weight: normal;
      }
    }
    & li:last-child {
      border-bottom: solid 1px @borderCommonColor;
    }
  }
  & .no-data-available {
    padding: 10px 15px;
  }
}