body {
  & .k-notification {
    padding: 5px;
    height: auto !important;
    & .k-notification-wrap {
      padding: 0;
      & .k-icon {
        margin-right: 5px;
      }
    }
  }
  & .critical-slim {
    background:#FF0000;
  }
  & .warning-slim {
    background:#FFA31A;
  }
  & .normal-slim{
    background:#008000;
  }
  & .critical-v {
    color:#FF0000;
  }
  & .warning-v {
    color:#FFA31A;
  }
  & .normal-v {
    color:#008000;
  }
  & .transient-v {
    color:#00b3ee;
  }
  & .reserved-v {
    color:#7a43b6;
  }
  & .errorMessageShow {
    border: 0;
    padding: 0;
    & .msg.error-msg {
      padding: 8px !important;
      color: @brand-color13;
    }
    & .msg.success-msg {
      color: @brand-color15;
      padding: 8px !important;
    }
  }
}