@media only screen and (min-width:668px) and (max-width:1024px){
  .dashboard-widget-panel > ul > li {width: 30%;}
  .dashboard-widget-panel > ul > li:last-child {width: 63%;}
  #wrapper header .header-traceOrgUser-panel .header-navbar li a {padding: 0 10px;}
  #wrapper #container-panel .left-panel, #wrapper #container-panel .right-panel {width: 3%;}
  #wrapper #container-panel .right-panel {padding-left:3%;}
  #wrapper #container-panel .left-panel {padding-right:3%;}
}