.width100 {
  width: 100%;
  float: left;
}
.shadowBorder {
 /* box-shadow: @BoxShadow @borderCommonColor;*/
  border: solid 1px @borderCommonColor;
  /*border-radius: @borderRadius6;*/
  background: @brand-color1;
}