& .right-panel {
  width: @rightCornerWidthMargin;
  right: 0;
}
& .content-panel {
  width: @rightContentWidth;
  margin-right: @rightCornerWidthMargin;
  margin-left: 2%;
}
& .right-inner-box {
  width: 100%;
}
& .dashboard-widget-panel > ul > li {
 /* width: 30.6%;*/
  width: 21.8%;
}
& .dashboard-widget-panel > ul > li:last-child {
  /*width: 64%;*/
  width: 28.6%;
}
& .openColFullCollom {
  width: 100%;
  &:first-child {
   /* .margin-b-20;*/
  }
  & > .margin-b-15 {
    margin-bottom: 0;
  }
}
& .openColTwoCollom {
  width: 50%;
  padding-left: 30px;
  &:first-child {
    padding: 0;
    /* .margin-b-20;*/
  }

}
& .fixHeight5 {
  .no-data-available {
    height: 150px;
    line-height: 130px;
  }
}
& .fixHeight310 {
  .no-data-available {
    height: 150px;
    line-height: 130px;
  }
}
& .fixHeight700 {
  border: 0;
  .no-data-available {
    height: 150px;
    line-height: 130px;
  }
}
& .read-more-right-panel {
  display: block;
}